# Bundler cache
.bundle
vendor
Gemfile.lock

# Jekyll cache
.jekyll-cache
.jekyll-metadata
_site

# RubyGems
*.gem

# NPM
node_modules
package-lock.json

# IDE
.idea
.vscode

# Misc
_sass/vendors
assets/js/dist

# System
*~
.DS_Store
Thumbs.db

# 로컬 재료/스크래치
재료/
개선점.md
/tmp/
